In [1]:
import pandas as pd
d = pd.read_csv('test_anovakun.csv', index_col=0)

In [2]:
d

           drug  pre  post
subID
1001    honmono   24     6
1002    honmono   32     3
1003    honmono   21     5
1004    honmono   16    12
1005    honmono   21    13
1006    honmono    5     8
1007    honmono   10     4
1008    honmono   29    21
1009    honmono   23     2
1010    honmono   11     8
1011   nisemono   25    26
1012   nisemono    7     9
1013   nisemono    0     3
1014   nisemono   29    31
1015   nisemono   31    23
1016   nisemono   15    10
1017   nisemono   22    16
1018   nisemono   32    29
1019   nisemono   16     8
1020   nisemono   19    20

In [3]:
import pyper
r = pyper.R(use_pandas='True', RCMD='C:\\Program Files\\R\\R-3.5.1\\bin\\x64\\R')

In [4]:
r.assign('d', d)

In [5]:
r('source(file="anovakun_482.txt")')
result = r('anovakun(d, "AsB", 2, 2)')
print(result)

try({anovakun(d, "AsB", 2, 2)})

[ AsB-Type Design ]

This output was generated by anovakun 4.8.2 under R version 3.5.1.
It was executed on Tue Oct 23 15:06:16 2018.


<< DESCRIPTIVE STATISTICS >>

--------------------------------
  A   B   n     Mean     S.D.
--------------------------------
 a1  b1  10  19.2000   8.6127
 a1  b2  10   8.2000   5.7697
 a2  b1  10  19.6000  10.4584
 a2  b2  10  17.5000   9.7439
--------------------------------


<< SPHERICITY INDICES >>

== Mendoza's Multisample Sphericity Test and Epsilons ==

-------------------------------------------------------------------------
 Effect  Lambda  approx.Chi  df      p         LB     GG     HF     CM
-------------------------------------------------------------------------
      B  0.0747      4.9007   1 0.0268 *   1.0000 1.0000 1.0000 1.0000
-------------------------------------------------------------------------
                              LB = lower.bound, GG = Greenhouse-Geisser
                             HF = Huynh-Feldt-Lecoutre, CM = Chi-Muller


<< ANOVA TABLE >>

------------------------------------------------------------
    Source         SS  df        MS  F-ratio  p-value
------------------------------------------------------------
         A   235.2250   1  235.2250   1.8452   0.1911 ns
     s x A  2294.6500  18  127.4806
------------------------------------------------------------
         B   429.0250   1  429.0250  15.0991   0.0011 **
     A x B   198.0250   1  198.0250   6.9693   0.0166 *
 s x A x B   511.4500  18   28.4139
------------------------------------------------------------
     Total  3668.3750  39   94.0609
                +p < .10, *p < .05, **p < .01, ***p < .001


<< POST ANALYSES >>

< SIMPLE EFFECTS for "A x B" INTERACTION >

-----------------------------------------------------------------------
  Effect  Lambda  approx.Chi  df   p         LB     GG     HF     CM
-----------------------------------------------------------------------
 B at a1  1.0000     -0.0000   0         1.0000 1.0000 1.0000 1.0000
 B at a2  1.0000     -0.0000   0         1.0000 1.0000 1.0000 1.0000
-----------------------------------------------------------------------
                            LB = lower.bound, GG = Greenhouse-Geisser
                           HF = Huynh-Feldt-Lecoutre, CM = Chi-Muller

--------------------------------------------------------------
      Source         SS  df        MS  F-ratio  p-value
--------------------------------------------------------------
     A at b1     0.8000   1    0.8000   0.0087   0.9266 ns
    Er at b1  1652.0000  18   91.7778
--------------------------------------------------------------
     A at b2   432.4500   1  432.4500   6.7447   0.0182 *
    Er at b2  1154.1000  18   64.1167
--------------------------------------------------------------
     B at a1   605.0000   1  605.0000  12.8118   0.0059 **
 s x B at a1   425.0000   9   47.2222
--------------------------------------------------------------
     B at a2    22.0500   1   22.0500   2.2955   0.1640 ns
 s x B at a2    86.4500   9    9.6056
--------------------------------------------------------------
                  +p < .10, *p < .05, **p < .01, ***p < .001

output is over --------------------///

In [6]:
r('result = anovakun(d, "AsB", 2, 2, tech=T)')
result = r.get('result')

In [7]:
result.keys()

dict_keys(['INFORMATION', 'DESCRIPTIVE STATISTICS', 'SPHERICITY INDICES', 'ANOVA TABLE', 'POST ANALYSES'])

In [8]:
result['ANOVA TABLE'][1]

     source.col   ss.col    df.col      ms.col      f.col     p.col  sig.col
0          b'A'   235.225       1.0  235.225000   1.845183  0.191127   b'ns'
1      b's x A'  2294.650      18.0  127.480556        NaN       NaN     b''
2          b'B'   429.025       1.0  429.025000  15.099130  0.001083   b'**'
3      b'A x B'   198.025       1.0  198.025000   6.969303  0.016639    b'*'
4  b's x A x B'   511.450      18.0   28.413889        NaN       NaN     b''
5      b'Total'  3668.375      39.0   94.060897        NaN       NaN     b''